{% extends 'base.html.twig' %}

{% block title %}Teacher index{% endblock %}

{% block body %}
    <h1>Teacher index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Midlename</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>Active</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.firstname }}</td>
                <td>{{ teacher.midlename }}</td>
                <td>{{ teacher.lastname }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.birthdate ? teacher.birthdate|date('Y-m-d') : '' }}</td>
                <td>{{ teacher.active ? 'Yes' : 'No' }}</td>
                <td>{{ teacher.title }}</td>
                <td>
                    <a href="{{ path('teacher_show', {'id': teacher.id}) }}">show</a>
                    <a href="{{ path('teacher_edit', {'id': teacher.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('teacher_new') }}">Create new</a>
{% endblock %}
